*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.open-sans{
  font-family: "Open Sans";
  font-optical-sizing: auto;
  
}
header{
    background:floralwhite ;
    padding-top: 50px;
}

.logo h2{
    font-size: 45px;
    margin-left: 50px;

}

.color-orange{
    color:#FD6E0A;
    
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 52px;
    align-items: center;
    /* margin: 0px 38px 0px 0px; */
}
nav .menu a{
    font-size: 20px;
    color: #FD6E0A;
    text-decoration: none;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
nav{
    width: 71%;
    max-width: 1140px;
    border: 1px red;
    margin: 0px 130px;
    display: flex;
    justify-content: space-between;
}
#About{
    padding-top: 130px;
}
#About .about-containar{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff8f3;
    padding: 131px 156px;

}
#About .about-containar .about-info{
    display: flex;
    justify-content: space-around;

}
.about-info .info-card p{
    font-size: 20px;
    /* line-height: 30px; */
    color: #757575;
}
.about-info .info-card h4{
    font-size: 13px;

}
.section-heading{
    max-width: 827px;
    text-align: center;
}
.section-heading h2{
    font-weight: bold;
    font-size: 35px;
    line-height: 30px;
    margin-bottom: 30px;

}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    color: #757575;
}
#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0 180px;
   background: url(../images/header_bg.png);
   background-repeat: no-repeat;
   background-position: bottom right,top left;
    display: flex;
    justify-content: space-between;
    align-items: center;
/* #banner-image{
     width: 500px;              
    height: auto;
} */
   
}
 #banner .banner-contant{
    max-width: 585px;
 }
 #banner .banner-contant h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
 }
 #banner .banner-contant h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
 }
#banner .banner-contant p{
font-size: 18px;
color: #181818;
line-height: 30px;
margin-bottom: 30px;
}
#banner .banner-image img{
max-width: 585px;
vertical-align: middle;
}
