*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.open-sans{
  font-family: "Open Sans";
  font-optical-sizing: auto;
  
}
header{
    background:floralwhite ;
    padding-top: 50px;
}

.logo h2{
    font-size: 45px;
    margin-left: 50px;

}

.color-orange{
    color:#FD6E0A;
    
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 52px;
    align-items: center;
    /* margin: 0px 38px 0px 0px; */
}
nav .menu a{
    font-size: 20px;
    color: #FD6E0A;
    text-decoration: none;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
nav{
    width: 71%;
    max-width: 1140px;
    border: 1px red;
    margin: 0px 130px;
    display: flex;
    justify-content: space-between;
}
#About{
    padding-top: 130px;
}
#About .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff8f3;
    padding: 131px 156px;

}
#About .about-container .about-info{
    display: flex;
    justify-content: space-around;

}
.about-info .info-card p{
    font-size: 20px;
    /* line-height: 30px; */
    color: #757575;
}
.about-info .info-card h4{
    font-size: 13px;

}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.text-center{
    text-align: center;
    margin-top: 25px;
}
.section-heading h2{
    font-weight: bold;
    font-size: 35px;
    line-height: 30px;
    margin-bottom: 30px;

}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    color: #757575;
}
#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0 180px;
   background: url(../images/header_bg.png);
   background-repeat: no-repeat;
   background-position: bottom right,top left;
    display: flex;
    justify-content: space-between;
    align-items: center;
/* #banner-image{
     width: 500px;              
    height: auto;
} */
   
}
 #banner .banner-contant{
    max-width: 585px;
 }
 #banner .banner-contant h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
 }
 #banner .banner-contant h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
 }
#banner .banner-contant p{
font-size: 18px;
color: #181818;
line-height: 30px;
margin-bottom: 30px;
}
#banner .banner-image img{
max-width: 585px;
vertical-align: middle;
}
#skills{
    padding-top: 130px;
}
 #skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
 }
 #skills .skills-container .skill-box{
    display: flex;
    gap: 24px;
 }
 .skill-box .skill-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #1818180f;

 }
 .skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
 }
 .skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
 }
 .skill-card p{
    font-size: 16px;
    color: #181818;
    line-height: 28px;
    
 }
 #resume{
    padding-top: 130px;
    /* text-align: center; */
 }
 /* #resume .section-heading h2{
    text-align: center;
 } */
#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}
.resume-container .section-title{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.resume-card .card-title{
    font-size: 20px;
    font-weight:bold;
    color: #474747;
    margin-bottom: 10px;
}

.resume-card .card-info{
    font-size: 18px;
    font-weight:600;
    color: #757575;
    margin-bottom: 20px;
}
.resume-card .card-text{
    line-height: 28px;
    font-size: 16px;
    color: #757575;
    margin-bottom: 20px;
}
.resume-card hr{
margin: 30px 0;
}
/* .section-heading h2 {
    text-align: center !important;
    display: block !important;
    width: 100%;
} */
 #resume .section-heading h2{
  display: flex;
    justify-content: center;
    align-items: center;
 }

 footer{
    margin-top: 130px;
    background-color:#fff8f3 ;
    padding: 130px 0;
 }

 footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
 }

 .footer-container .social{
    max-width: 562px;
 }

 .footer-container h2{
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;
 }

.footer-container .social p{
color: #474747;
line-height: 28px;
margin-bottom: 30px;
}

.footer-container .icons a{
    margin-right: 24px;
}

/* .footer-container form input[type="text"], .footer-container form input textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
} */
 .form input[type="text"], 
.form input[type="email"], 
.form textarea {
    width: 461px; 
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
    display: block; 
    box-sizing: border-box;
}

/* Submit button-er style */
.btn {
    background-color: #ff6f00; 
    color: white;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}